[
  {
    "keyCode" : 49,
    "openSelectedFolders" : true,
    "url" : "\/Clipboard.clipboard",
    "hideIfActive" : false,
    "modifierFlags" : 1179648,
    "enabled" : true,
    "order" : 0,
    "openSelectedFiles" : true
  },
  {
    "keyCode" : 45,
    "modifierFlags" : 401666,
    "bookmark" : "Ym9vaywCAAAAAAQQMAAAAHab6mi7uofTaloqx5vECp+m10QHtgM0bokNr+p8gxjcTAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABraXR0eS5hcHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADYAFAAAAAAAAgAAAAEAwAA3pNRAAAAAAAIAAAAAQYAAEgAAABYAAAACAAAAAAEAABBxjy1CYAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcYvyAaAAAAkAAAAAQEAADRGRTg1MTVDLUE5NzAtNEJGNS04QTBELTg4MDI5RDUzRUIzRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACIAAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUgAACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAAABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAAAAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "hideIfActive" : false,
    "order" : 1,
    "openSelectedFolders" : true,
    "url" : "\/Applications\/kitty.app",
    "openSelectedFiles" : true,
    "enabled" : true
  },
  {
    "enabled" : true,
    "modifierFlags" : 401666,
    "openSelectedFolders" : true,
    "openSelectedFiles" : true,
    "url" : "\/Applications\/Visual Studio Code.app",
    "bookmark" : "Ym9vazgCAAAAAAQQMAAAABQTZP5PtWhOvKx4i6yxHjAFovTZwyAc2842EnP0SUPHWAEAAAQAAAADAwAAABgAKAwAAAABAQAAQXBwbGljYXRpb25zFgAAAAEBAABWaXN1YWwgU3R1ZGlvIENvZGUuYXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAADYAFAAAAAAAAgAAAAEAwAAJIJmAAAAAAAIAAAAAQYAAFQAAABkAAAACAAAAAAEAABBxjomGgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcYvyAaAAAAkAAAAAQEAADRGRTg1MTVDLUE5NzAtNEJGNS04QTBELTg4MDI5RDUzRUIzRBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA\/v\/\/\/wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIgAABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAAABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAAAAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAEAAAAAAAAAA==",
    "order" : 2,
    "keyCode" : 46,
    "hideIfActive" : false
  }
]